
body{
    background-color: #333;
}

#banner { 
    background-color: #333;
    height: 76px;
    padding: 30px 70px 30px 70px; 
    
}

#banner h1 {
    float: left;
    margin: 0%;
}

#banner nav {
    float: right;
    position: relative;
    top: 30px;
}

#banner nav ul  {
    margin: 0%;
}

#banner nav ul li {
    display: inline-block; 
    width: 100px;   
}

#banner nav ul li a{
    color : #ffffff;  
    display: inline;
    text-decoration: none;    
    text-transform: uppercase;
    font-size: 12px ; 
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
} 

#sabores-pizzas h2 {
    color: #ffff;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center; 
    text-transform: uppercase;
}

#sabores-pizzas table {
    border-collapse: collapse;
    margin: 0% auto;
    width: 0%;
}

#sabores-pizzas table td ,
#sabores-pizzas table th {
    padding: 25px; 
    border: 1px #000 solid;
    color: #fff;
    text-align: center; 
    text-transform: uppercase; 
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
}
#sabores-pizzas .texto-negativo{
    color: #FB3958;
}
#sabores-pizzas .texto-positivo{
    color: #87b50f;
}